
<h1>You have a new order</h1>

<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">Up to 3 minutes</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">From 3 to 5 minutes</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">From 5 to 7 minutes</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">From 7 to 10 minutes</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block btn-danger" role="button">Cancel</a>