
<h1>Нова поръчка</h1>

<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">До 3 минути</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">От 3 до 5 минути</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">От 5 до 7 минути</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block" role="button">От 7 до 10 минути</a>
<a href="#" data-ng-click="" class="btn btn-default btn-lg btn-block btn-danger" role="button">Откажи</a>